<% if @bands.any?  %>
<ul class="bands media-grid">
  <% @bands.each do |band| %>
    <li><a class="artist-image" href="/bands/<%= band['mbid'] %>/tracks?<%= escape_url(:language => params[:language], :genre => params[:genre]) %>">
      <img class="thumbnail" src="<%= band['image'] %>" width="142" height="142">
      <span class="band"><%= band['name'] %></span>
      </a>
      <div class="stats">
        <% if band['tags'].any?  %>
          <div class="tags"><%= band['tags'].first(5).join(', ') %></div>
        <% end %>
        <img src="/img/flags/<%= band['country'] %>.png">
      </div>
    </li>
  <% end %>
</ul>
<% else %>
  <p class="notice">No bands :( </p>
  <p><a href="/?<%= escape_url(:language => params[:language], :genre => params[:genre])%>">Start again</a></p>
<% end %>
