<div class="row-fluid">
  <form method="get" action="/bands" class="navbar-form pull-left">
    <div class="span6">
      <h3>Learn<br>
        <select name="language">
          <option value="">Select a language</option>
          <% @languages.each do |ln, value| %>
            <option value=<%= ln %> <%= params[:language] == ln ? 'selected=selected' : '' %>><%= value['name'] %></option>
          <% end %>
        </select>
      </h3>
    </div>
    <div class="span6">
      <h3>by<br>
        <input name="genre" type="text" placeholder="genre (optional)" value="<%= params[:genre] %>">

      <br>or with<br>
        <input name="artist_name" type="text" placeholder="artist name (optional)" value="<%= params[:artist_name] %>">
        <input type="submit" value="Search" class="btn">
      </h3>
    </div>
  </form>
</div>
<div class="row-fluid">
  <div class="span6">
    <h4>Try it out</h4>
    <ul class="examples">
      <li><a href="/bands/664c3e0e-42d8-48c1-b209-1efca19c0325/tracks?language=en">Learn English with The National</a></li>
      <!-- <li><a href="/bands/ef2b40e0-8a32-4de6-b31f-1e7258d654c3/tracks?language=es">Aprenda español con Los Fresones Rebeldes</a></li> -->
      <li><a href="/bands/9eaf4321-20b8-4611-bc82-493a361104e3/tracks?language=es">Aprenda español con Él mató a un policía motorizado</a></li>
      <!-- bands/6f28b158-4d1a-4f31-9339-7f381e3c4ee1/tracks?language=es Los Planetas -->
      <li><a href="/bands/a3212186-5da5-4e84-a935-6952b3e14921/tracks?language=pt">Aprenda português com Os Mutantes</a></li>
      <li><a href="/bands/b21ef19b-c6aa-4775-90d3-3cc3e067ce6d/tracks?language=fr">Apprendre français avec Serge Gainsburg</a></li>
      <li><a href="/bands/a6568343-600e-48f0-a53d-cb54d4008c83/tracks?language=it">Imparare l'italiano con Miura</a></li>
      <li><a href="/bands/c954d136-c7fd-4fd9-8bb0-fb0491fc6a02/tracks?language=de">Deutsch lernen mit Nena</a></li>
    </ul>
  </div>
</div>