<h2>Learning <a href="/bands?<%= escape_url(:language => params[:language], :genre => params[:genre]) %>"><%= @language_name %></a> with <a href="/bands/<%= params[:mbid] %>/tracks?<%= escape_url(:language => params[:language], :genre => params[:genre]) %>"><%= @track['artist_name'] %></a></h2>

<div class="alert alert-success hidden">
  Well done!
</div>

<div class="row-fluid">
  <div class="span11">
    <h3>“<%= @track['track_name'] %>” from “<%= @track['album_name'] %>”</h3>
    <div class="row-fluid">
      <div class="span4" id="player"></div>
      <div class="span7">
        <div id="lyrics">
          <% @lyrics_with_blanks['lyrics_body'].each_with_index do |line, i| %>
            <p <% if @lyrics_with_time %>class="lyrics-with-time" data-time="<%=  @lyrics_with_time[i][0] %>"<% end %>>
            <% line.each_with_index do |word, j|
              if word == '__BLANK__' %>
                <input type="text" placeholder="" autocomplete="off" name="word[<%= i %>][<%= j %>]" id="word-<%= i %>-<%= j %>" data-value="<%=h @lyrics_with_blanks['removed_words'][i][j].first %>" data-show="<%=h @lyrics_with_blanks['removed_words'][i][j].last %>" value="">
                <script type="text/javascript">
                  $(document).ready(function() {
                    $('#word-<%= i %>-<%= j %>').keyup(function(event) {
                      Kantas.checkResponse(<%= i.inspect %>, <%= j.inspect %>);
                    });
                  });
                </script>
              <% else %>
                <%= word %>
              <% end %>
            <% end %>
            </p>
          <% end %>
        </div>
        <% unless @lyrics_with_time %><p class="warning">Sorry, we don’t have the complete lyrics for this song.</p><% end %>
        <img src="<%= @track['pixel_tracking_url'] %>">
        <p class="copy"><%= @track['lyrics_copyright'] %></p>
      </div>
    </div>
  </div>
</div>

<script src="http://toma.hk/api.js?v=1"></script>
<script type="text/javascript">
  $(document).ready(function() {
    Kantas.renderTrack("<%= @track['artist_name'] %>", "<%= @track['track_name'] %>");
  });
</script>

