<h2>Learning <a href="/bands?language=<%= params[:language] %>&genre=<%= params[:genre] %>"><%= @language_name %></a> with <a href="/bands/<%= params[:mbid] %>/tracks?language=<%= params[:language] %>&genre=<%= params[:genre] %>"><%= @track['artist_name'] %></a></h2>

<div class="alert alert-success hidden">
  Well done!
</div>

<div class="row">
  <div class="span11">
    <h3>“<%= @track['track_name'] %>” from “<%= @track['album_name'] %>”</h3>
    <div class="row">
      <div class="span3"><div id="player"></div></div>
      <div class="span8">
        <% @lyrics_with_blanks['lyrics_body'].each_with_index do |line, i|
            line.each_with_index do |word, j|
              if word == '__BLANK__' %>
                <input type="text" placeholder="" name="word[<%= i %>][<%= j %>]" id="word-<%= i %>-<%= j %>" data-value="<%= @lyrics_with_blanks['removed_words'][i][j] %>" value="">
                <script type="text/javascript">
                  $(document).ready(function() {
                    $('#word-<%= i %>-<%= j %>').keyup(function(event){
                      var el = $('#word-<%= i %>-<%= j %>');
                      if (el.val().toLowerCase() == el.attr('data-value').toLowerCase()) {
                        el.replaceWith(el.val());
                        if ($('input').length == 0) {
                          $('.alert-success').show();
                        } else {
                          $('input').first().focus();
                        }
                      } else {
                        if (el.val() != '') {
                          el.addClass('error');
                        }
                      }
                    });
                  });
                </script>
              <% else %>
                <%= word %>
              <% end %>
              <%= ' ' %>
            <% end %>
            <%= '<br>'  %>
          <% end %>
        <img src="<%= @track['pixel_tracking_url'] %>">
        <p class="copy"><%= @track['lyrics_copyright'] %></p>
      </div>
    </div>
  </div>
</div>

<script src="http://toma.hk/api.js?v=1"></script>
<script type="text/javascript">
  renderTrack = function() {
    var title = <%= @track['track_name'].inspect %>;
    var artist = <%= @track['artist_name'].inspect %>;
    var width = 200;
    var height = 200;

    var trackNew = window.tomahkAPI.Track(title, artist, {
        width:width,
        height:height,
        disabledResolvers: [  ],
        handlers: {
            onloaded: function() {
            },
            onended: function() {
            },
            onplayable: function() {
            },
            onresolved: function(resolver, result) {
            },
            ontimeupdate: function(timeupdate) {
            }
        }
    });
    var playerEl = document.getElementById("player");
    playerEl.insertBefore(trackNew.render(),playerEl.childNodes[0]);
  }
</script>

